body {
    font-family: Arial, sans-serif;
    
    margin: 40px;
    padding: 30px;
    background-color:black;
    color:white;
     cursor: pointer;
}
#hello{
    color:yellow;
}
.high{
    color:green;
}